#demander-box{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 20px;
}

#demander-number{
    display: flex;
    justify-content: flex-start;
}

#demander-number-key{
    background-color: #faa82d;
    color: #fff;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;    
    padding-right: 5px;    
}

#demander-form p{
    font-size: 15px;
    font-weight: bold;
}

#demander-form input{
    font-family: 'Merriweather Sans', sans-serif;
    border: 2px solid #faa82d;
    border-radius: 10px;
    height: 30px;
    font-size: 15px;
}

#demander-form-top{
    display: flex;
    flex-wrap: wrap;
}

#demander-form-top-lside{
    width: 50%;
}

#demander-form-top-rside{
    width: 50%;
}

#demander-form-top-lside div, #demander-form-top-rside div{
    display: flex;
    align-items: center;
}

#demander-form-top-lside p{
    width: 230px;
    margin-bottom: 15px;
}

#demander-form-top-rside p{
    width: 150px;
}

#demander-form-bottom textarea{
    border: 2px solid #faa82d;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Merriweather Sans', sans-serif;
}

#demander-form-bottom p{
    margin-top: 30px;
    margin-bottom: 5px;
}

#demander-form-bottom div{
    display: flex;
    justify-content: space-between;
}

#demander-form-bottom div p{
    margin: 0px;
    font-size: 13px;
}

#demander-form-footer{
    display: flex;
    justify-content: flex-end;
}

#demander-form-footer button{
    padding: 15px;
    margin-top: 30px;
    background-color: #faa82d;
    color: #fff;
    font-weight: bold;
    border: 0px;
    font-size: 20px;
    border-radius: 10px;
    font-family: 'Merriweather Sans', sans-serif;

}