.demander-box{
    display: block;
}

.isClose{
    display: none;
}

#demander-form-types{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

#demander-form-types button{
    background-color: #faa82d;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    border: 0px;
    border-radius: 10px;
    padding: 12px;
    margin-right: 10px;
    font-family: 'Merriweather Sans', sans-serif;
}

#demander-number{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#demander-number-key{
    background-color: #faa82d;
    color: #fff;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;    
    padding-right: 5px;    
}

#demander-number-value{
    font-weight: bold;
    border: 1px solid #faa82d;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    width: 80px;
    height: 38px;
    text-align: center;
}

#demander-number-value-active{
    font-weight: bold;
    border: 1px solid #faa82d;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 20px;
    padding-right: 20px;
}

.demander-form-key{
    font-size: 15px;
    font-weight: bold;
}